.main-logo{
    width: 65px !important;
    height: 70px;
}
    .post-content img {
        border-radius: 8px;
        max-width: 100%;
        height: auto;
    }
    a{
        text-decoration: none !important;
    }
    @media (max-width: 768px) {
      .uc-logo{
        width: 65px !important;
        height: 70px;
        position: absolute;
        /* top: 0; */
        right: 0;
      }
        
    }
